<!doctype html>
<html lang="en">
    <head>
        <title>Resolute QA</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'resoluteqa/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'resoluteqa/css/datatables.min.css' %}">
        <link rel="stylesheet" href="{% static 'resoluteqa/css/custom.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'resoluteqa:index' %}">Resolute QA</a>
        </nav>
        <div class="container">

        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script defer src="{% static 'resoluteqa/js/libraries/jquery-3.2.1.min.js' %}"></script>
        <script defer src="{% static 'resoluteqa/js/libraries/popper.min.js' %}"></script>
        <script defer src="{% static 'resoluteqa/js/libraries/bootstrap.min.js' %}"></script>
        <script defer src="{% static 'resoluteqa/js/libraries/datatables.min.js' %}"></script>
        <script defer src="{% static 'resoluteqa/js/libraries/Chart.min.js' %}"></script>
        <script defer src="{% static 'resoluteqa/js/common.js' %}"></script>
    </body>
</html>
