.no-border {
  border-spacing: 0;
}

.green {
    background-color: #83ea94;
}

.red {
    background-color: #ea8383;
}

.yellow {
    background-color: #eae883;
}

.orange {
    background-color: #eab483;
}

.grayBorder td {
    border: solid 1px #dddddd;
}
